.deps
outputs/*
aflout/*
*_trace.yaml
*_xray

# Created by https://www.gitignore.io/api/c
# Edit at https://www.gitignore.io/?templates=c

### C ###
# Prerequisites
*.d

# Object files
*.o$
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# End of https://www.gitignore.io/api/c
#

# test file
fuzztest

#CLANG LLVM IR
*.ll
*.bc

*.o
*.log

scratch

xray-log.*

gfz_num
gfz_ptr
gfz_bnc

gfz_num_ban
gfz_ptr_ban
gfz_bnc_ban

gfz_plot_data